:root {
	--clr-900: hsl(233, 47%, 7%);
	--clr-desat: hsl(244, 38%, 16%);
	--clr--100: hsl(277, 64%, 61%);

	--clr-neutral-900: hsl(0, 0%, 100%);
	--clr-neutral-700: hsla(0, 0%, 100%, 0.75);
	--clr-neutral-100: hsla(0, 0%, 100%, 0.6);
}
